<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.email %></td>
    </tr>
<% end %>
  </tbody>
</table>
