<div class="row">
  <div class="col-md-6">
    <p>
      Old style HTTP switch
    </p>
  </div>
  <div class="col-md-6">
    <img class="center pull-right" src="<%= static_path(@conn, "/images/home.jpg")%>" />
  </div>
</div>
